# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv HOST 0.0.0.0
SetEnv APP_KEYS DbM3hPFpSCxU77ypi/o0Vg==,yy6DqOaCTZVSP8/oVsEDuQ==,kKtxnKxXv2Ivn7HhS9um2g==,6ljcApgkk7t/MA/WSHvdZQ==
SetEnv API_TOKEN_SALT NA/VMvdrIWmbZwwL1KNPLQ==
SetEnv ADMIN_JWT_SECRET GSVZrtsAHoSuzuK6zxW/jQ==
SetEnv TRANSFER_TOKEN_SALT r7hLHgAUuku2jYMo5jzIQQ==
SetEnv DATABASE_CLIENT sqlite
SetEnv DATABASE_SSL false
SetEnv DATABASE_FILENAME .tmp/data.db
SetEnv JWT_SECRET kY0kwJ8/N9VWqCCr+ciORQ==
SetEnv DATABASE_HOST 
SetEnv DATABASE_PORT 
SetEnv DATABASE_NAME 
SetEnv DATABASE_USERNAME 
SetEnv DATABASE_PASSWORD 
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END